<style>
.bio-bio {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100ch;
  margin-left: 10px;
  margin-right: 10px;
}
.bio-bio > * {
  text-align: center;
  max-width: 80ch;
}

.bio-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
}
</style>
<div class="bio-bio">
  {{ if .Params.image }}
  <img class="bio-img" loading="lazy" src="/img/{{ .Params.class }}/{{ .Params.slug }}.jpg" background-image="url(/img/ag_bell_noob.jpg)" onerror="this.onerror=null; this.src='/img/ag_bell_noob.jpg'" sizes="96px" height="150px" width="150px">
  {{ else }}
  <img class="bio-img" loading="lazy" src="/img/ag_bell_noob.jpg" />
  {{ end }}
  <b>{{.Params.name}}</b>

  <div class="links">

    {{ if .Params.linkedin }}
    <a href="{{ .Params.linkedin }}" title="linkedin" target="_blank" rel="noopener noreffer me"><i class="fab fa-linkedin fa-fw"></i></a>
    {{ end }}

    {{ if .Params.github }}
    <a href="{{ .Params.github }}" title="GitHub" target="_blank" rel="noopener noreffer me"><i class="fab fa-github-alt fa-fw"></i></a>
    {{ end }}

    {{ if .Params.facebook }}
    <a href="{{ .Params.email }}" title="Email" rel="me"><i class="far fa-envelope fa-fw"></i></a>
    {{ end }}

    {{ if .Params.facebook }}
    <a href="{{ .Params.facebook }}" title="facebook" target="_blank" rel="noopener noreffer me"><i class="fab fa-facebook fa-fw"></i></a>
    {{ end }}

    {{ if .Params.twitter }}
    <a href="{{ .Params.twitter }}" title="twitter" target="_blank" rel="noopener noreffer me"><i class="fab fa-twitter fa-fw"></i></a>
    {{ end }}
  
  
</div>
{{ if .Params.boardPosition }}
<div class="board" style="font-weight:bold">{{ .Params.boardPosition }}</div>
{{ end }}
<div class="bio" style="width: 200px">{{ .Content }}</div>
</div>